@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
    <div class="home-logo-section">
        <div class="home-logo">
            <span id="home-crosshair-element" class="bi bi-crosshair home-crosshair-random" aria-hidden="true"></span>
            <span class="bi bi-box home-box-fixed" aria-hidden="true"></span>
        </div>
        <h1>Stock Ops</h1>
    </div>
    
    <p>You know the drill.</p>
</div>
